<footer class="footer">
  <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener" aria-label="DaveMiscampbell on Twitter"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
  <a href="https://instagram.com/{{ site.author.instagram }}" target="_blank" rel="noopener" aria-label="DaveMiscampbell on Instagrams"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
  <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener" aria-label="DaveMiscampbell on GitHub"><i class="fa fa-github" aria-hidden="true" target="_blank"></i> </a>
  <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener" aria-label="DaveMiscampbell on LinkedIN"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
  <a href="mailto:{{ site.author.email }}" rel="noopener" aria-label="Get in touch via email"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  <div class="post-date"><a href="{{ site.github.url }}/about.html" aria-label="{{site.title}} | {{site.tagline}} by {{site.author.name}}">{{ site.title }} | {{ site.tagline }} by {{ site.author.name }}</a></div>
</footer>
 